registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# //172.19.113.183:21121/repository/npm/:_auth="ZGVwbG95bWVudDpNamdreWVScENvQnVUQmtzMEczSA=="
# always-auth=true
# registry=http://172.19.113.183:21121/repository/npm/